{% extends 'layout/basic.html' %}

{% block body_content %}
    <h3>Статьи</h3>
    {% if user.is_authenticated %}
        <a href="{% url 'article_add' %}">Добавить статью</a><br>
    {% endif %}
    {% for article in articles %}
        <h4>{{ article.title }}</h4>
        <ul>{{ article.body }}</ul>
        <ul>Автор: {{ article.author }}</ul>
        {% if not article.changed %}
            <ul>Дата: {{ article.date }}</ul>
        {% else %}
            <ul>Дата изменения: {{ article.date }}</ul>
        {% endif %}
        {% if user.pk is article.author.pk %}
            <a href="{% url 'article_change' article.id %}">Редактировать статью</a>
        {% endif %}
        <h5>Комментарии: {{ article.comments.count }}</h5>
        {% for comment in article.comments.all %}
            <hr>
            <ul>{{ comment.body }}</ul>
            {% if not comment.changed %}
                <ul>Автор: {{ comment.author }} Дата: {{ comment.date }}</ul>
            {% else %}
                <ul>Автор: {{ comment.author }} Дата изменения: {{ comment.date }}</ul>
            {% endif %}
            {% if user.pk is comment.author.pk %}
                <a href="{% url 'comment_change' comment.id %}">Редактировать комментарий</a>
            {% endif %}
        {% endfor %}
        {% if user.is_authenticated %}
            <a href="{% url 'comment_add' article.id %}">Добавить комментарий</a>
        {% endif %}
    {% endfor %}

{% endblock %}