{% extends 'layout/basic.html' %}

{% block body_content %}
    <h3>Статьи</h3>
    {% if user.is_authenticated %}
        <a href="{% url 'article_add' %}">Добавить статью</a><br>
    {% endif %}
    <div class="card">
        {#            <img src="..." class="card-img-top" alt="...">#}
        <div class="card-body">
            <h5 class="card-title">{{ article.title }}</h5>
            {% if user.pk is article.author.pk %}
                <a href="{% url 'article_change' article.id %}">Редактировать статью</a>
            {% endif %}
            <p class="card-text">{{ article.body }}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Автор: {{ article.author }}</li>
            {% if not article.changed %}
                <li class="list-group-item">Дата: {{ article.date }}</li>
            {% else %}
                <li class="list-group-item">Дата изменения: {{ article.date }}</li>
            {% endif %}
            <li class="list-group-item">Комментарии: {{ article.comments.count }}</li>
        </ul>
        {% for comment in article.comments.all %}
            <div class="card-footer text-muted">
                <ul>{{ comment.body }}</ul>
                {% if not comment.changed %}
                    <ul>Автор: {{ comment.author }} Дата: {{ comment.date }}</ul>
                {% else %}
                    <ul>Автор: {{ comment.author }} Дата изменения: {{ comment.date }}</ul>
                {% endif %}
                {% if user.pk is comment.author.pk %}
                    <a href="{% url 'comment_change' comment.id %}">Редактировать комментарий</a>
                {% endif %}
            </div>
        {% endfor %}
        {% if user.is_authenticated %}
            <a href="{% url 'comment_add' article.id %}">Добавить комментарий</a>
        {% endif %}
    </div><br>
{% endblock body_content %}