<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Basic template</h2>
    <a href="{% url 'article_main' %}">Статьи</a>
    {% block body_content %}

    {% endblock %}
    {% block registration_url %}
        {% if user.is_authenticated %}
            <strong>
                <p>Hello, {{ user.username }}</p>
                <a href="{% url 'logout' %}">logout</a>
        {% else %}
                <a href="{% url 'register' %}">Registration</a>
                <a href="{% url 'login' %}">Login</a>
            </strong>
        {% endif %}
    {% endblock %}
</body>
</html>