{% extends 'layout/basic.html' %}



{% block body_content %}
    <div class="row justify-content-start">
        <div class="col-1">
            <h3>Messages</h3>
        </div>
    </div>

    <div class="col">
        {% for message in messages %}
            <div class="card">
                <div class="card-body">
                    <h5 class="d-inline card-title">Автор: {{ message.from_user.get.username }}</h5>
{#                    {% if user.pk is article.author.pk %}#}
{#                        <a class="d-inline p-2" href="{% url 'article_change' article.id %}">Редактировать статью</a>#}
{#                    {% endif %}#}
                    <p class="card-text">{{ message.body }}</p>
{#                    <a href="{% url 'article_detail' article.id %}" class="btn btn-primary">Read...</a>#}
                </div>
            </div><br>

        {% endfor %}
    </div>

    <div class="col-1">

        <div class="d-grid gap-2 col mx-auto">
            <button class="btn btn-success" type="button">Новое сообщение</button>
            <button class="btn btn-warning" type="button">Непрочитанные: 0</button>
            <button class="btn btn-info" type="button">Все сообщения</button>
        </div>

    </div>

{% endblock %}